.header{
  background-color: black;
  width: 100%;
  height: 150px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid transparent;
  border-image:linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border-image-slice: 1;
}
.imageList{
  columns: 250px 5;
  column-gap:20px;
  
}
img{
  width: 100%;
  margin-bottom: 20px;
}